<% include partials/header %>
<h1>Sign up for this amazing app!</h1>
<form method="POST" action"/register">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Submit</button>
</form>
<% include partials/footer %>